<html>
    <div class="container">
        <head>
            <div class="center-align">
                <h3 class="title">Crosscheck</h3>
            </div>
            <!--Import materialize.css-->
            <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <style>
                .title {
                    color: #9d2235;
                }
            </style>
        </head>
        <body>
            <table class="table">
                <thead>
                    <tr>
                        <th class="center-align">Alumnos</th>
                        <th class="center-align">Tareas</th>
                    </tr>
                </thead>
                <tbody >
                    <tr ng-repeat= "f in feedbacksResults">
                        <td class="center-align">{{f.student}}</td>
                        <td class="center-align"><button ui-sref="crosscheck" class="btn btn-danger"  ng-click="chooseStudent(f.student)">Ver tareas</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="center-align">
                <button ui-sref="admin" class="btn waves-effect waves-light">Admin</button>
            </div>
        </body>
    </div>
</html>