<html>
<div class="container" >
<head>
   
    <h3 class="center-align">Feedback {{idFeedback}}</h3>
    

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <style>
        .title {
            color: #9d2235;
        }
        .icon i {
        margin: 40px 0;
        color: #9d2235;
        font-size: 4rem;
        display: block;
      }
    </style>
</head>
<body>

    <div class="text-center">
        <h5>Start to review</h5>
        </br>   
        <button ui-sref="swipeTinder" class="btn blue lighten-2">
            <i class="material-icons">forward</i>
        </button>
       
    </div>
</body>
</div>
</html>