<html>
<div class="container" >
<head>
    </br>
    <h5 class="center-align">Feedback {{idFeedback}}</h5>
    

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <style>
        .title {
            color: #9d2235;
        }
        .icon i {
        margin: 40px 0;
        color: #9d2235;
        font-size: 4rem;
        display: block;
      }
    </style>
</head>
<body>
    <div class="text-center">
        <h5>Waiting confirmation ...</h5>
        </br>   
        <button ng-click="refreshConfirmed()" class="btn blue lighten-2">
            <i class="material-icons">refresh</i>
        </button>
    </div>
</body>
</div>
</html>