<html>
    <head>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="container center-align">
            <h5>Feedback {{idFeedback}}</h5>

            <div class="text-center">
                <button ng-click="refresh()" class="btn blue lighten-2">
                    <i class="material-icons">refresh</i>
                </button>
            </div>
            </br>
            <h6>Reviewers:</h6>
            <div class="text-center" ng-repeat="f in feedbacks">
                <ul>
                    <li ng-if="f.role == 'reviewer'" style="display: inline-flex">
                         <div style="float: left" ng-click="viewFeedbackResults(f.idFeedback, f.edition, f.subject)" class="feedback">
                            <a>{{f.student}}  -</a>
                        </div>
                        <div style="float: right">  - Checks reviewed:{{f.arrayCheckResults.length}}/{{totalChecks}}</div>
                    </li>
                </ul>
            </div>
            </br>
            <h6>Revieweds:</h6>
            <div class="text-center" ng-repeat="f in feedbacks">
                <ul>
                    <li ng-if="f.role == 'reviewed'" style="display: inline-flex">
                        <div style="float: left" ng-click="viewFeedbackResults(f.idFeedback, f.edition, f.subject)" class="feedback">
                            <a>{{f.student}}  -</a>
                        </div>
                        <div style="float: right">  - Checks reviewed:{{f.arrayCheckResults.length}}/{{totalChecks}}</div>
                    </li>
                </ul>
            </div>
            </br>
            <div>
                <label>CROSSCHECK FILTER: </label>   
                <input ng-model="filter" style="width: 40%"></input>
                <button ng-click="setFilter(filter)" class="btn blue lighten-2">SET</button>                
            </div>    
           
        </div>
    </body>
</html>





<!--<body>
            <table class="table">
                <thead>
                    <tr>
                        <th class="center-align">Tareas</th>
                        <th class="center-align">Resultado</th>
                    </tr>
                </thead>
                <tbody class="center-align">
                    <tr ng-repeat= "c in checks">
                        
                        <td class="center-align">Tarea {{c.idCheck}}</td>
                       
                        <td class="center-align">
                            <button ui-sref="crosscheckSelectStudent" ng-click="crosscheckNegative()" class="btn red lighten-2">
                                <i class="material-icons">cancel</i>
                            </button>
                            <button ui-sref="crosscheckSelectStudent" ng-click="crosscheckPositive()" class="btn green lighten-2">
                                <i class="material-icons">check</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="center-align">
                <button ui-sref="admin" class="btn waves-effect waves-light">Admin</button>
            </div>
        </body>-->