<html>
    <head>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="container center-align">
            <h5>Feedback {{idFeedback}}</h5>
            <div style="display: inline-flex">
                <div class="text-center">
                    <button style="float: left; margin-right: 5px" ng-click="refresh()" class="btn blue lighten-2">
                        <i class="material-icons">refresh</i>
                    </button>
                </div>
                <div style="float: right; margin-left: 5px" class="center-align">
                    <button ng-click="assignStudents()" class="start btn blue lighten-2 ">Matchmaking</button>
                </div>
            </div>
            </br>
            </br>
            <!--<div class="text-center" ng-repeat="f in feedbacks">
                <ul>
                    <li ng-if="f.role == 'reviewer'" style="display: inline-flex">
                        <div ui-sref="crosscheckStudent({ subject: f.subject, edition: f.edition, idFeedback: f.idFeedback, student: f.student})" style="float: left" ng-click="" class="feedback">
                            <a>{{f.student}}  -</a>
                        </div>
                        <div style="float: right">  - Checks reviewed:{{f.arrayCheckResults.length}}/{{totalChecks}}</div>
                        <p class="partner">hhh</p>
                    </li>
                </ul>
            </div>-->


            </br>
            <!--<h6>Reviewed:</h6>
            <div class="text-center" ng-repeat="f in feedbacks">
                <ul>
                    <li ng-if="f.role == 'reviewed'" style="display: inline-flex">
                        <div ng-click="" style="float: left" ui-sref="crosscheckStudent({ subject: f.subject, edition: f.edition, idFeedback: f.idFeedback, student: f.student})" class="feedback">
                            <a>{{f.student}}  -</a>
                        </div>
                        <div style="float: right">  - Checks reviewed:{{f.arrayCheckResults.length}}/{{totalChecks}}</div>
                    </li>
                </ul>
            </div>-->
            <table class="table">
                <thead>
                    <td style="width: 325px; font-weight: bold;" class="center-align">Reviewers</td>
                    <td style="width: 339px" class="center-align">Checks reviewed</td>
                    <td style="width: 250px" class="center-align">is reviewing to</td>
                </thead>
                <tbody class="center-align">
                    <tr ng-repeat= "f in feedbacks">
                        <td ng-if="f.role == 'reviewer'" class="center-align"><a ui-sref="crosscheckStudent({ subject: f.subject, edition: f.edition, idFeedback: f.idFeedback, student: f.student})">{{f.student}}</a></td>
                        <td ng-if="f.role == 'reviewer'" class="center-align">{{f.arrayCheckResults.length}}/{{totalChecks}}</td>
                        <td ng-if="f.role == 'reviewer'" class="center-align">{{f.reviewed}}</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <table class="table">
                <thead>
                    <td style="width: 325px; font-weight: bold;" class="center-align">Reviewed</td>
                         <td style="width: 339px" class="center-align">Checks reviewed</td>
                    <td style="width: 250px" class="center-align">reviewed by</td>
                </thead>
                <tbody class="center-align">
                    <tr ng-repeat= "f in feedbacks">
                        <td ng-if="f.role == 'reviewed'" class="center-align">{{f.student}}</td>
                        <td ng-if="f.role == 'reviewed'" class="center-align">{{f.arrayCheckResults.length}}/{{totalChecks}}</td> 
                        <td ng-if="f.role == 'reviewed'" class="center-align">{{f.reviewer}}</td> 
                    </tr>
                </tbody>
            </table>


            </br>
            <div>
                <label>CROSSCHECK FILTER: </label>
                <input ng-model="filter" style="width: 40%"></input>
                <button ng-click="setFilter(filter)" class="btn blue lighten-2">SET</button>   
                <label style="width: 40%">{{arrayChecks}}</label>             
            </div>    
           
        </div>
    </body>
</html>





<!--<body>
            <table class="table">
                <thead>
                    <tr>
                        <th class="center-align">Tareas</th>
                        <th class="center-align">Resultado</th>
                    </tr>
                </thead>
                <tbody class="center-align">
                    <tr ng-repeat= "c in checks">
                        
                        <td class="center-align">Tarea {{c.idCheck}}</td>
                       
                        <td class="center-align">
                            <button ui-sref="crosscheckSelectStudent" ng-click="crosscheckNegative()" class="btn red lighten-2">
                                <i class="material-icons">cancel</i>
                            </button>
                            <button ui-sref="crosscheckSelectStudent" ng-click="crosscheckPositive()" class="btn green lighten-2">
                                <i class="material-icons">check</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="center-align">
                <button ui-sref="admin" class="btn waves-effect waves-light">Admin</button>
            </div>
        </body>-->