<html>
    <head>
        <div class="container">
            <h3 class="center-align">Feedback {{idFeedback}}</h3>
            
            <!--Import materialize.css-->
            <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
           
    <style>
        body{
            font-size: 20px;
        }
        
    </style>

    </head>
    <body>
        <div class="center-align">
            <h5>{{student}}, your results:</h5>
            </br>
            <div ng-if="resultC == 'POSITIVE'" class="center-align" style="border-radius: 8px;border:solid; border-color:mediumseagreen; width: 330px; margin-left: auto; margin-right: auto">
                <p style="color:mediumseagreen">FEEDBACK RESULT: <p>
                <p>Reviewer: <span>{{reviewerC}}</span></p>
                <p>Reviewed (you): <span>{{reviewedC}}</span></p>
                <p>Correct checks: <span>{{wellChecks}} / {{totalChecks}}</span></p>
                <p>Result: <span>{{resultC}}</span></p>
                <p>Punctuation: <span>{{scoreC}}</span></p>   
            </div> 
            <div ng-if="resultC == 'NEGATIVE'" class="center-align" style="border-radius: 8px;border:solid; border-color:lightcoral; width: 330px; margin-left: auto; margin-right: auto">
                <p style="color:lightcoral">FEEDBACK RESULT: <p>
                <p>Reviewer: <span>{{reviewerC}}</span></p>
                <p>Reviewed (you): <span>{{reviewedC}}</span></p>
                <p>Correct checks: <span>{{wellChecks}} / {{totalChecks}}</span></p>
                <p>Result: <span>{{resultC}}</span></p>
                <p>Punctuation: <span>{{scoreC}}</span></p>   
            </div> 
            </br>
            <p>¿Are you agree?</p>
            <p><em>(Important: if you push "NO" the results will be lost)</em></p> 
        </div>
       
        <!--<div class="center-align">
            <button ui-sref="beginReview" ng-click="finishFeedback('no')" class="btn red lighten-2">No</button>
            <button ui-sref="beginReview" ng-click="finishFeedback('si')" class="btn green lighten-2">Sí</button>
        </div>-->

        <div class="center-align">
            <div class="text-center" ng-if="role=='reviewed'">
                <button ui-sref="beginReview({ subject: subject, edition: edition})" ng-click="finishFeedback('no')" class="btn red lighten-2">No</button>
                <button ui-sref="beginReview({ subject: subject, edition: edition})" ng-click="finishFeedback('si')" class="btn green lighten-2">Yes</button>
            </div>
            <div class="text-center" ng-if="role=='reviewer'">
                <button ui-sref="bye({ subject: subject, edition: edition})" ng-click="finishFeedback('no')" class="btn red lighten-2">No</button>
                <button ui-sref="bye({ subject: subject, edition: edition})" ng-click="finishFeedback('si')" class="btn green lighten-2">Yes</button>
            </div><!--bye-->
        </div>

        </br>
    </body>
</html>