<html>
    <head>
        <div class="container">
            <h3 class="center-align">Feedback {{idFeedback}}</h3>
            <!--Import materialize.css-->
            <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <style>
        body{
            font-size: 20px;
        }
        
    </style>

    </head>
    <body>
        <div class="center-align">
            <div style="border-radius: 8px;border:solid; border-color:#9d2235; width: 400px; margin-left: auto; margin-right: auto">
                <p style="color:#9d2235">RESULTADO FEEDBACK: <p>
                <p>Resivor (tú): <span style="color:#9d2235">{{finalReviewer}}</span></p>
                <p>Revisado: <span style="color:#9d2235">{{finalStudent}}</span></p>
                <p>Tareas correctas: <span style="color:#9d2235">{{wellChecks}} / {{totalChecks}}</span></p>
                <p>Resultado: <span style="color:#9d2235">{{finalResult}}</span></p>
                <p>Puntuación: <span style="color:#9d2235">{{finalScore}}</span></p>   
            </div>  
        </div>
        </br>
        <div class="center-align">
            <button ui-sref="resume" class="btn blue lighten-2">Resumen</button>
            <button ui-sref="bye" ng-click="finishFeedback()" class="btn blue lighten-2">Estoy de acuerdo</button>
        </div>
       

    </body>
</html>