<html>
<div class="container" >
    <head>
        <div class="titulo">
        <h4 class="center-align">Feedback {{idFeedbackChosen}}</h4>
        <div>
        <link rel="shortcut icon" href=""> <!--Pongo esto para solucionar el error de 'favicon failed to load'-->
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
            <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
        .titulo h4 {
            color: #9d2235;
        }
        </style>
    </head>
    <body>
        <table class="table">
            <thead>
                <tr>
                    <th class="center-align">Alumno</th>
                    <th class="center-align">Elegir</th>
                </tr>
            </thead>
            <tbody >
                <tr ng-repeat= "f in feedbacksResultsHistorial">
                    <td class="center-align">{{f.student}}</td>
                    <td class="center-align"><button class="btn btn-danger" ui-sref="feedbacksResultsRecordsStudentChosen" ng-click="chooseStudent(f.student)">Elegir</button></td>
                </tr>
            </tbody>
        </table>
    </body>
</div>
</html>