<html>
    <div ng-if="isAuthenticated">
      <div class="container" >
        <head>
          
          <!--<h4 class="center-align">Feedback SOS</h4>-->
            <link rel="shortcut icon" href=""> <!--Pongo esto para solucionar el error de 'favicon failed to load'-->
            <!--Import Google Icon Font-->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!--Import materialize.css-->
            <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
            <!--Let browser know website is optimized for mobile-->
            <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"></meta>-->
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">


            <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
          
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
          <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
          <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
      
          <style> 
            p.time{
                /*-webkit-animation-name: parpadeo; 
                -webkit-animation-duration: 4s; 
                animation-name: parpadeo;
                animation-duration: 4s;*/

                animation-name: parpadeo;
                animation-duration: 1s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;

                -webkit-animation-name:parpadeo;
                -webkit-animation-duration: 1s;
                -webkit-animation-timing-function: linear;
                -webkit-animation-iteration-count: infinite;
            }

            /* Safari 4.0 - 8.0 */
            @-webkit-keyframes parpadeo {
                from {color: red;}
                to {color: red;}
            }

            /* Standard syntax */
            @keyframes parpadeo {
                from {color: red;}
                to {color: red;}
                0% { opacity: 1.0; }
                50% { opacity: 0.0; }
                100% { opacity: 1.0; }
            }
          </style>
        </head>
        <body>
          </br>
            <div ng-if="lessOneMinute == false" class="center-align clock">
              <p style="text-align: center; font-size: 20px;">First part: {{clock}}</p>
            </div>

            <div ng-if="lessOneMinute == true  && lessTenSeconds == false" class="center-align clock">
                <p style="text-align: center; font-size: 20px; color: red">First part: {{clock}}</p>
            </div>

            <div ng-if="lessTenSeconds == true" class="center-align clock">
                <p class= 'time' style="text-align: center; font-size: 20px;">First part: {{clock}}</p>
            </div>
            <!-- Para que las validaciones funcionen es necesario que tanto el form como input, select tengan la propiedad name -->
            <form name="studentForm">
              
              <!--<div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input ng-model="newFeedbackResult.student" placeholder="Nombre y apellidos" id="student" type="text" class="validate" ng-required="true" required></input>
              </div>-->
              <!--
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" class="form-control" placeholder="Nombre y apellidos" name="student" ng-model="newFeedbackResult.student" required></input>
              </div>
              -->

              
            
              <div class="input-field col s6">
                <md-select placeholder="Number of feedback" ng-model="newFeedbackResult.idFeedback" style="min-width: 200px;" required>
                  <md-option ng-value="f.idFeedback" ng-repeat="f in feedbacksInf">{{f.idFeedback}}</md-option>
                </md-select>
              </div>
              

              <!--<div class="input-field col s6">
                <i class="material-icons prefix">feedback</i>
                <input ng-model="newFeedbackResult.idFeedback" placeholder="Número de feedback" name="idFeedback" type="number" class="form-control" required></input>
              </div>-->

              

              <div class="input-field col s6">
               
                <input ng-model="newFeedbackResult.group" placeholder="Group" name="group" type="number" class="form-control" required></input>
              </div>
            
              </br>
      
              <div class="input-field col s6">
                <md-select ng-model="newFeedbackResult.shift" placeholder="Shift" required>
                  <md-option value="mañana">morning</md-option>
                  <md-option value="tarde">afternoon</md-option>
                </md-select>
              </div>


              <div class="center-align">
                <button ui-sref="preparation({ subject: subject, edition: edition})" ng-disabled="studentForm.$invalid" class="btn blue lighten-2 pull-center" ng-click="addFeedbackResult(newFeedbackResult)">Send
              </div>

            </form>
          
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
            
        
        </body>
      </div>
    </div>
    <div class="text-center" ng-if="!isAuthenticated">
      <h3>You must be logged in to access.</h3>
      </br>
      <h5><a ui-sref="login">Go to the Login Page</a></h5>
    </div>
  </html>




<!--
<div ng-controller="SelectAsyncController" layout="column" layout-align="center center" style="padding:40px" ng-cloak>
  <p>Select can call an arbitrary function on show. If this function returns a promise, it will display a loading indicator while it is being resolved:</p>
  <div layout="column" layout-align="center center">
    <md-select placeholder="Assign to user" ng-model="user" md-on-open="loadUsers()" style="min-width: 200px;">
      <md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>
    </md-select>
    <p class="md-caption">You have assigned the task to: {{ user ? user.name : 'No one yet' }}</p>
  </div>
</div>

JS:
angular.module('selectDemoOptionsAsync', ['ngMaterial'])
.controller('SelectAsyncController', function($timeout, $scope) {
  $scope.user = null;
  $scope.users = null;

  $scope.loadUsers = function() {

    // Use timeout to simulate a 650ms request.
    return $timeout(function() {

      $scope.users =  $scope.users  || [
        { id: 1, name: 'Scooby Doo' },
        { id: 2, name: 'Shaggy Rodgers' },
        { id: 3, name: 'Fred Jones' },
        { id: 4, name: 'Daphne Blake' },
        { id: 5, name: 'Velma Dinkley' }
      ];

    }, 650);
  };
});
-->