 <html>
    <div class="container" >
    <head>
      
      <h4 class="center-align">Feedback SOS</h4>
        <link rel="shortcut icon" href=""> <!--Pongo esto para solucionar el error de 'favicon failed to load'-->
      	<!--Import Google Icon Font-->
      	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      	<!--Import materialize.css-->
      	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
		    <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"></meta>
    
    </head>

  
    <body>
      
        <!-- Para que las validaciones funcionen es necesario que tanto el form como input, select tengan la propiedad name -->
        <form name="studentForm">
          
          <!--<div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input ng-model="newFeedbackResult.student" placeholder="Nombre y apellidos" id="student" type="text" class="validate" ng-required="true" required></input>
          </div>-->
          <!--
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input type="text" class="form-control" placeholder="Nombre y apellidos" name="student" ng-model="newFeedbackResult.student" required></input>
          </div>
          -->

          <div class="input-field col s6">
            <i class="material-icons prefix">feedback</i>
             <input ng-model="newFeedbackResult.idFeedback" placeholder="Número de feedback" name="idFeedback" type="number" class="form-control" required></input>
          </div>
         

          <div class="input-field col s6">
            <i class="material-icons prefix">group</i>
            <input ng-model="newFeedbackResult.group" placeholder="Grupo" name="group" type="number" class="form-control" required></input>
          </div>
         
          <div class="input-field col s6">
            <i class="material-icons prefix">access_time</i>
            <input ng-model="newFeedbackResult.shift" placeholder="Turno (mañana o tarde)" name="shift" type="text" class="form-control" required></input>
          </div>
          
          <!--<div class="center-align">
            <button ui-sref="preparation" ng-click="addFeedbackResult()" class="btn waves-effect waves-light">Siguiente
              <i class="material-icons right">send</i>
            </button>
          </div>-->

          <div class="center-align">
            <input type="submit" ui-sref="preparation" ng-disabled="studentForm.$invalid" class="btn btn-success pull-right" ng-click="addFeedbackResult(newFeedbackResult)">
          </div>

  
          

        </form>
      
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
        
     
    </body>
     </div>
  </html>

