<html>
    <div class="container">
    <head>
        <h3 class="center-align">Feedback {{idFeedback}}</h3>
        <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    </head>
    <body>
        <h5 class="center-align">Tarea {{idCheckToShow}}</h5>
        </br>
        <h6 class="center-align">{{punctuation}} puntos</h6>
        </br>
        <h6 class="center-align">{{descriptionToShow}}</h6>
        </br>
        </br>
        <div class="center-align">


            
        <button ui-sref="improveCheck" ng-click="improveCheck(idCheckToShow, punctuation)" class="btn red lighten-2">
            <i class="material-icons right">cancel</i>
        </button>
        <button ng-click="nextCheck()" class="btn green lighten-2">
            <i class="material-icons right">check</i>
        </button>
        </br>
        </br>
        </br>
        <button ui-sref="resume" ng-click="resumeFeedback()" class="btn waves-effect waves-light">Resumen</button>
        <button ui-sref="finish" ng-click="finishFeedback()" class="btn waves-effect waves-light">Terminar</button>
        </div>
    </body>
    </div>
</html>