<html>
<div class="container" >
<head>
   
    <h3 class="center-align">Feedback {{idFeedback}}</h3>
    <div class="center-align" ng-app="app">
        <p>{{ clock | date:'HH:mm:ss'}}</p>
    </div>
    <div class="center-align">
        <h4 class="title">{{student}}, vas a revisar a:</h4>
    </div>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <style>
        .title {
            color: #9d2235;
        }
        .icon i {
        margin: 40px 0;
        color: #9d2235;
        font-size: 4rem;
        display: block;
      }
    </style>
</head>
<body>
    <div class="text-center" ng-if="withAssignment.length!=2">
        <p>No tienes asignado a nadie todavía</p>
        <button ng-click="isThereReviewer()" class="btn blue lighten-2">
            <i class="material-icons">refresh</i>
        </button>
    </div>
    <div class="text-center" ng-if="withAssignment.length==2">
        <h5>{{student2}}</h5>
        </br>
        <button ng-click='iHaveToWaiting()' class="btn blue lighten-2">Localizado
        </button>
    </div>
</body>
</div>
</html>