<html>
    <head>
        <div class="container">
            </br>
            <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    </head>
    <body>
        <div class="center-align">
            <h5>Sus resultados han sido guardados</h5>
            <h5>Muchas gracias por participar</h5>
        </div>
        </br>
        <div class="center-align">
            <button ui-sref="home" ng-click="authService.logout()" class="btn blue lighten-2">Log out</button>
        </div>
        
        

        </div>
    </body>
</html>

