<html>
    <head>
        <div class="container">
            </br>
            <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    </head>
    <body>
        <div class="center-align">
            <h5>Your results are been saved</h5>
            <h5>Thank you for participating</h5>
        </div>
        </br>
        <!--<div class="center-align">
            <button ui-sref="home" ng-click="bye()" class="btn blue lighten-2">Log out</button>
        </div>-->
        
        

        </div>
    </body>
</html>

