<html>
    <div class="container">
        <head >
            <div class="center-align">
                <h3 class="title">Crosscheck</h3>
            </div>
            <!--Import materialize.css-->
            <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
            <style>
                .title {
                    color: #9d2235;
                }
            </style>
        </head>
        <body>
            <div class="input-field col s6">
                <i class="material-icons prefix">feedback</i>
                <input ng-model="idFeedback" placeholder="Número de feedback" id="idFeedback" type="number" class="validate" ng-required="true" required></input>
            </div>
            <div class="center-align">
                <button ui-sref="crosscheckSelectStudent" ng-click="storeIdFeedback()" class="btn waves-effect waves-light">Siguiente
                    <i class="material-icons right">send</i>
                </button>
            </div>

            </br>
            </br>

            <div class="center-align">
                <button ui-sref="admin" class="btn waves-effect waves-light">Admin</button>
            </div>
        </body>
    </div>
</html>