<html>
    <head>
        <h3 class="center-align">Subject: {{subject}}</h3>
        <style>
          div.icon{
            float: right;
          }
          div.edition{
            float: left;
          }
          div.new{
            float: left;
            width: 300px;
          }
          div.buttonAdd{
            float: right;
          }
          @media (min-width:1200px){
            .container{
              width: 500px;
            }
          }
          .collection .collection-item{
              height: 40px;
          }
          div.newTeacher{
            float: left;
            width: 200px;
          }
          div.buttonAddTeacher{
            float: right;
          }
         
        </style> 
    </head>


    <body>
        <div class="editions center-align container">
            <ul style="border-color: #be9d56" class="collection lista" ng-repeat="e in editions | orderBy:'edition':reverse">
                <li class="collection-item">
                    <div class="list">
                        <div class="edition">
                            {{e.edition}}
                        </div>
                        <div ng-click="deleteEdition(e)" class="icon">
                            <a class="secondary-content"><i style="color: black"class="material-icons">delete</i></a>
                        </div>
                    </div>
                </li> 
                

                <div style="display: inline-flex; padding-top: 10px; ; padding-bottom: 10px" class="dates">               
                    <div style="float: left;  padding-right: 20px" class="center-align">
                        <button ng-click="startEdition(e)" class="start btn blue lighten-2 ">Start
                    </div>
                    <div style="float: right;  padding-left: 20px" class="center-align">
                        <button ng-disabled="e.init == ''" ng-click="finishEdition(e)" class="end btn blue lighten-2 ">Finish
                    </div>
                </div>

                <div class="dates2">               
                    <p>Init: {{e.init}}</p>
                    <p>End: {{e.end}}</p>
                </div>

                <hr/>
                Teachers: 
                <ul style="border: none" class="collection lista" ng-repeat="t in e.teachers | orderBy:'edition':reverse">
                    <li class="collection-item">
                        <div class="list">
                            <div class="edition">
                                {{t}}
                            </div>
                            <div ng-click="deleteTeacher(t, e)" class="icon">
                                <a class="secondary-content"><i style="color: black"class="material-icons">delete</i></a>
                            </div>
                        </div>
                    </li> 
                </ul>
                <!--
                <div class="teachers left-align" style="width: 400px; padding-left: 40px; padding-right: 0px; padding-bottom: 10px">              
                    Teachers:                   
                    <ul class="collection list2" ng-repeat="t in e.teachers">
                        <li class="collection-teacher">
                            <div class="list2">
                                <div style="padding-left: 15px" class="edition">
                                    {{t}}
                                </div>
                                <div style="padding-right: 15px" ng-click="deleteTeacher(t, e)" class="icon">
                                    <a class="secondary-content"><i style="color: black" class="material-icons">delete</i></a>
                                </div>
                            </div>
                        </li> 
                    </ul>
                    <form name="teacherForm">
                        <div class="newTeacher">
                            <input style="width: 250px" ng-model="newTeacher" name="newTeacher" class="text" placeholder="New Teacher" required></input>
                        </div>
                        <div class="buttonAddTeacher">
                            <a ng-disabled="teacherForm.$invalid" ng-click="addTeacher(newTeacher, e)" class="btn-floating btn-small waves-effect waves-light"><i style="font-size: 2rem;" class="material-icons">add</i></a>
                        </div>
                    </form>-->
                
            </ul>
            <form name="editionForm">
                <div class="new">
                    <input style="width: 380px" ng-model="newEdition" name="newEdition" class="text" placeholder="New Edition" required></input>
                </div>
                <div class="buttonAdd">
                    <a ng-disabled="editionForm.$invalid" ng-click="addEdition(newEdition)" style="color: #be9d56" class="btn-floating btn-large waves-effect waves-light"><i style="font-size: 3rem;" class="material-icons">add</i></a>
                </div>
            </form>
        </div>
    </body>
     
</html>