<html>
     <div class="container" >
        <head>
            <h3 class="center-align">Feedback {{idFeedback}}</h3>
            <div class="center-align" ng-app="app">
                <p>{{ clock | date:'HH:mm:ss'}}</p>
            </div>
            <h5 class="center-align">Resumen del feedback</h5>
            </br>
            <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
            
        </head>
        <body>
            <table class="table">
                <tbody>
                    <tr ng-repeat= "C in checks">
                        <td class="center-align">Tarea {{C.idCheck}}</td>
                        <td class="center-align"> {{C.result}}</td>
                        <td class="center-align">
                            <button ng-if="C.result=='no'" ui-sref="improveCheck" ng-click="improveCheck(C.idCheck)" class="btn red lighten-2">Corregir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </body>

        <div class="center-align">
            <button ui-sref="finish" class="btn blue lighten-2">Terminar feedback
            </button>
        </div>

     </div>
     </br>
</html>

<!--
<div class="text-center" ng-if="withAssignment.length!=2">
        <p>No tienes asignado a nadie todavía</p>
        <button ng-click="isThereReviewer()" class="btn blue lighten-2">
            <i class="material-icons">refresh</i>
        </button>
    </div>
    <div class="text-center" ng-if="withAssignment.length==2">
        <h5>{{student2}}</h5>
        </br>
        <button ng-click='iHaveToWaiting()' class="btn blue lighten-2">Localizado
        </button>
      
    </div>
-->