<html>
    <div class="container">
        <head>
            <!--Import materialize.css-->
            <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <style>
                .title {
                    color: #9d2235;
                }
            </style>
        </head>
        <body>
            <ul class="collection with-header">
                <div class="center-align">
                    <li class="collection-header">
                        <h3 class="title">Historial de feedbacks</h3>
                    </li>
                </div>
                <li class="collection-item">
                    <div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
                </li>
                <li class="collection-item">
                    <div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
                </li>
                <li class="collection-item">
                    <div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
                </li>
                <li class="collection-item">
                    <div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
                </li>
            </ul>
        </body>
    </div>
</html>