<html>
<div class="container" >
<head>
   
    <h3 class="center-align">Feedback {{idFeedback}}</h3>
    <div class="center-align" ng-app="app">
          <p>{{ clock | date:'HH:mm:ss'}}</p>
    </div>
   

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <style>
        .title {
            color: #9d2235;
        }
        .icon i {
        margin: 40px 0;
        color: #9d2235;
        font-size: 4rem;
        display: block;
      }
    </style>
</head>
<body>
    <div class="text-center">
        <h5>{{reviewer}} va a revisar tus tareas</h5>
        <h5 class="title">Revisión en curso...</h5>
        </br>   
        <button ng-click="beginReview()" class="btn blue lighten-2">
            <i class="material-icons">refresh</i>
        </button>
    </div>
</body>
</div>
</html>