<html>
    <div class="container">
        <head>
            <h3 class="center-align">Feedback {{idFeedback}}</h3>
            
            <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
        </head>
        <body>
            <div class="center-align">
                <h5 class="red-text text-red-ligthen-2">La tarea {{idCheckToShow}} no está realizada correctamente</h5>
            </div>
                
            </br>
            <div class="center-align">
                <h5>¿La ha corregido?</h5>
    
            </br>

            
            <div>
            <textarea ng-model="comments" placeholder="Comentarios" id="comments" class="materialize-textarea" class="validate" ng-required="true" required></textarea>
            </div>
                

             </br>

    
            <button class="btn green lighten-2" ng-click="improve()">SI</button>
            <button class="btn red lighten-2" ng-click="noImprove()">NO</button>
            </div>

        </body>
    </div>  
</html>