<html>
    <div class="container">
        <head>
            <h3 class="center-align">Feedback {{idFeedback}}</h3>
            <div class="center-align" ng-app="app">
                <p>{{ clock | date:'HH:mm:ss'}}</p>
            </div>
            
            <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
        </head>
        <body>
            <div class="center-align">
                <h5 class="red-text text-red-ligthen-2">La tarea {{idCheckToShow}} no está realizada correctamente</h5>
            </div>
                
            
            <div class="center-align">
                <h5>¿La ha corregido? </h5>
            

                <div>
                    <input type="checkbox" id="checkImproved" ng-model="checkImproved" ng-change="changeCheckImproved()" 
                    class="filled-in" ng-true-value="'si'" ng-false-value="'no'"/>
                    <label for="checkImproved"> ¡Sí!</label>
                </div>

                <div>
                    <textarea ng-model="comments" placeholder="Comentarios" id="comments" class="materialize-textarea" class="validate" ng-required="true" required></textarea>
                </div>
                    
                </br>

                <div class="center-align">
                    <button ui-sref="resume" ng-click="improve()" class="btn blue lighten-2">OK</button>
                </div>

            </div>

        </body>
    </div>  
</html>